alg: enn
seed: 0
debug: False
model_save_pt: 5000
edit_bs: 1
silent: False
max_iters: 200100
log_interval: 100
val_interval: 5000
batch_size: 4
val_batch_size: 4
accumulate_bs: 10
cedit: 0.2
cloc: 1.0
cbase: 1.0
val_steps: 500
device: cuda
base_loss: distill
oracle: False
train: True
train_base: True
opt: Adam
single_batch: False
archive: null
grad_clip: 100.
ref: null
early_stop_patience: 40000
early_stop_key: "mixture/acc_val"
dropout: 0.0
tokenizer: null
results_dir: null
no_grad_layers: null
eval_only: False
half: False
save: False
log_errors: False
unlikelihood: True
check_dir: null
batch_round: 10
re_init_model: False
max_n_edits: 5000

model:
  pt: null

data:
  path: null
  rephrase: true
  zsre_nq: false
  zsre_impl: false
  zsre_impl_path: ${hydra:runtime.cwd}/data/zsre/impl_{}.json
  zsre_yn: false
  zsre_yn_path: ${hydra:runtime.cwd}/data/zsre/zsre_yn_{}.txt
  zsre_eval_idxs: null
  zsre_path: ${hydra:runtime.cwd}/data/zsre/structured_zeroshot-{}-new_annotated_final.jsonl
  nq_path: ${hydra:runtime.cwd}/data/nq
  wiki_webtext: true
  n_edits: 1
  hard_neg: false
  hard_neg_neighbors: 100
  hard_neg_exclude: 25
  hard_neg_temp: 0.1
  hard_neg_prob: 0.5
  flip_inner_outer: false
  sent_eval_sample: false
  n_outer_max: null

eval:
  verbose: True
  log_interval: 100
  final_eval: True

hydra:
  run:
    dir: ./outputs/${now:%Y-%m-%d_%H-%M-%S_%f${uuid:}}
  sweep:
    dir: ./outputs/${now:%Y-%m-%d_%H-%M-%S_%f}
    subdir: ${hydra.job.num}



